@using MyBookStoreApp.MyBookStoreApp.Web.ViewModels
@model List<AuthorViewModel>

@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model[0].FirstName)</th>
                <th>@Html.DisplayNameFor(model => model[0].LastName)</th>
                <th>@Html.DisplayNameFor(model => model[0].Email)</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => author.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => author.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => author.Email)</td>
                    @*<td>
                        @foreach (var book in author.Books)
                        {
                            <span>@book.Title</span>
                        }
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
